{% extends 'base.html' %}
{% block main %}
<div class="row">
    <div class="col-sm-6 mx-auto rounded-5">
        <h2 class="text-center text-info my-5">Update Info - {{ls.item}}</h2>
        <form class="d-flex" method="post">
            {% csrf_token %}
            <input class="form-control me-2 py-2 fs-3" value="{{ls.item}}" required type="text" name="item"
                aria-label="Search" />
            <button class="btn btn-outline-info px-4 fs-3" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}